# Ignore configuration files managed by Aegir:
sites/*/settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore PhpStorm files
.idea

# Ignore files created by security_review
sites/all/modules/contrib/security-review/IGNOREME.txt
sites/all/modules/contrib/security-review/file_write_test.*
