@mixin member-grid-avatar {
  float: left;
  margin: 0 5px 5px 0;
}

.view-newest-users {
	.views-row {
	  @include member-grid-avatar;
	}

  .view-footer {
    clear: both;
    display: none; // TEMPORARY - until /members page done
  }
}

.block-group-info-block {

  .view-group-info {
    .views-field {
      margin: 16px 0;
    }

    .views-field-title {
      font-size: 20px;
      font-weight: bold;
    }

    .views-field-field-description {
      font-size: 11px;
      color: $grey3;
    }

    .views-field-php {
      font-size: 12px;
      color: black;
    }

    #group-user-menu {
      list-style-type: none;
    }

    .views-field-field-group-type div {
      display: inline;
    }

    .views-field-field-logo {
      margin-top: 10px;
    }
  }

}

#region-sidebar-second {
  .item-list {
    ul {
      li {
        margin-left: 0;
        font-size: 10px;
      }
    }
  }
}

.block-user-info-block {

  .views-field {
    margin: 4px 0;
  }

  .views-field-field-moon-or-mars {
    .views-label-field-moon-or-mars {
      color: $grey3;
      font-style: italic;
    }

    .field-content {
      display: inline;
    }
  }
}

ul.member-grid {
  list-style-type: none;
  margin: 3px 0;

  li {
    @include member-grid-avatar;
  }
}

ul.member-groups {
  list-style-type: none;
  margin: 3px 0 0;

  li {
    margin-bottom: 3px;

    a {
      @include border-radius(3px);
      display: block;
      width: 100%;
      padding: 5px 0;
      background-color: $grey5;
      text-align: center;

      &:hover {
        background-color: $red3;
        color: white;
      }
    }
  }
}

.view-newest-groups {
  .views-row {
    background-color: $grey5;
    @include border-radius(3px);
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 0;
  }
}
