
@mixin button {
	background: none;
  background-color: $blue3;
  text-shadow: none;
  color: white;
  font-weight: bold;
  @include box-sizing(content-box);
  line-height: 19px;
  height: 19px;
  padding: 3px 9px;
	border: none;
	@include border-radius(3px);
  text-decoration: none;

  &:hover {
    background-color: $red3;
    text-decoration: none;
  }

  &:disabled,
  &.disabled-hover {
    background-color: $grey3;
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input.form-submit,
#edit-submit,
.view-calendar .pager a,
.block-menu ul.menu li a {
  @include button;
}

// This one is last because Firefox can't parse it, thinks it's an error and discards the whole CSS declaration.
input[type="file"]::-webkit-file-upload-button {
  @include button;
}
