$postFontSize = 12px;
$postLineHeight = $postFontSize * 1.5;
$ratingButtonHeight = 20px;

@mixin channel-page-section {
  //padding: 0 0 30px;
  //border-bottom: solid 1px $grey2;
  padding: 0;
  margin-bottom: 30px;
}

.node-item {
  @include channel-page-section;

  header {
    display: none;
  }

  .post-content {
    .field {
      margin: 10px 0;
      font-size: 12px;
      line-height: 16px;
    }

    a.post-link {
      display: block;
      float: right;
      width: 16px;
      height: 16px;
      line-height: 16px;

      img {
        position: relative;
        top: -5px;
      }
    }

  }

  .comment-link-wrapper {
    text-align: right;
    padding-right: 5px;
  }

  article.new-comment-form-article {
    display: none;

    .post-content-wrapper {
      height: auto;

      form {
        padding: 0;
        margin: 0;
        border: 0;
        background: none;
      }
    }
  }
}

#comments, .indented {
  margin: 0;
}

#comments,
article.node-item {
  .post-content-wrapper {
    overflow: hidden;
    min-height: 40px;
  }
}

.who_where_when_posted {
  font-size: 11px;
  line-height: 16px;
  color: $grey3;

  a.username {
    font-weight: bold;
  }
}

.post-article-body {
  margin: 1px 0;
  font-size: $postFontSize;
  line-height: $postLineHeight;
  padding: 5px;
  background-color: $grey5;
  border: solid 1px $grey4;
  @include border-radius(3px);

  .post-content-wrapper {
    margin-left: 45px;
  }

  .user-picture {
    float: left;
  }

  .score-more-wrapper,
  .post-controls {
    height: $ratingButtonHeight;
    margin-left: 45px;
    margin-top: 2px;
  }

  .top-post-controls {
    border-top: solid 1px $grey4;
  }

  .post-controls {
    padding-top: 1px;

    ul.action-links {
      display: block;
      float: right;
      height: $ratingButtonHeight;
      margin-bottom: 0;

      li {
        padding: 0 0 0 10px;
        //border-right: solid 1px $grey4;
        margin: 0;
        float: right;
        display: block;
        height: $ratingButtonHeight;
        line-height: $ratingButtonHeight;

        a {
          line-height: $ratingButtonHeight;
        }

        &.waiting {
          padding-right: 18px;
        }
      }
    }
  }

  .score-more-wrapper {
    border-top: dashed 1px $grey4;

    .more-link-wrapper {
      float: right;
      border-left: solid 1px $grey4;
      padding-left: 5px;
      margin-left: 5px;
      line-height: $ratingButtonHeight;

      a.more-link {
        span.expand-icon {
          font-size: 7px;
        }
      }
    }
  }

  .score-wrapper {
    display: block;
    float: right;
    margin: 0 0 0 10px;
    line-height: $ratingButtonHeight;
  }

  .waiting {
    padding-right: 18px;
    background: url('../images/loading1.gif') no-repeat right 2px;
  }

  textarea {
    font-size: $postFontSize;
    padding: 2px;
    height: 2 * $postLineHeight;
    overflow: hidden;
    margin-top: 8px;

    &.uploading {
      background: white url('../images/loading29.gif') no-repeat center center;
    }
  }

  .comment-description {
    padding: 0;
    font-size: 11px;
    color: $grey3;
  }

  // Post, update and cancel buttons in channels:
  form.node-item-form .form-actions,
  .comment-buttons {
    input[type=button],
    input[type=submit],
    .form-submit,
    .form-button,
    #edit-submit {
      margin: 2px 0 0 2px;
      padding: 1px 5px;
      float: right;
      font-size: 11px;

      &:hover {
        background-color: $red3;
      }
    }
  }
}

.post-form-wrapper {
  @include channel-page-section;

  h2 {
    margin-bottom: 10px;
    line-height: 20px;
  }

  input.form-text,
  select,
  .form-textarea-wrapper textarea {
    //border: solid 1px $grey4;
    width: 100%;

    &.error {
      border-color: $red3;
    }
  }
}

article.node-channel form,
article.node-item form {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

article.group {
  .group-description {
    @include channel-page-section;
    padding-bottom: 10px;
  }
}

form.node-item-form {
  #edit-field-item-type {
    margin-top: 10px;

    .form-type-radios {

      .form-type-radio {
        display: inline;
        margin: 0 10px 0 0;

        input {
          margin: 0 3px;
        }
      }
    }
  }

  #edit-field-item-text {
    margin-bottom: 0;
  }

  // All these hidden initially:
  #edit-field-item-link,
  #edit-field-item-image,
  #edit-field-item-video,
  #edit-field-item-document {
    display: none;
  }

  #field-item-link-add-more-wrapper {
    .form-type-textfield {
      margin: 0;

      input {
        width: 100%;
      }
    }
  }

  .form-item .description {
    padding: 0;
  }

  #field-item-text-add-more-wrapper {
    .form-item {
      margin-bottom: 0;

      .description {
        float: left;
      }
    }
  }

  #edit-field-item-image-und-0-upload-button,
  #edit-field-item-document-und-0-upload-button {
    display: none;
  }
}

article.node-item {
  p.comment-instruction {
    margin: 0;
    font-size: 11px;
    color: $grey3;
  }
}

article.comment {
  margin-top: 5px;

  .post-article-body {
    // Default colours - overridden by poster's colour preference.
    background-color: $blue5;
    border-color: $blue4;
  }

  &.comment-unpublished {
    .post-article-body {
      background-color: $grey7;
      border-color: $grey4;
      color: $grey3;
    }
  }

  .unpublished {
    float: right;
    color: $grey2;
  }

  //a {
  //  background-color: white;
  //  padding: 0 1px;
  //  @include border-radius(2px);
  //
  //  &.avatar-link {
  //    padding: 0;
  //  }
  //}
}

div.item-list {
  ul.pager {
    height: 22px;
    margin: 30px 0;

    li {
      font-size: 12px;
      line-height: 18px;
      padding: 0;
      margin: 0 5px;

      &.pager-current {
        padding: 2px 5px;
        background-color: $blue3;
        color: white;
        @include border-radius(3px);
      }

      a {
        padding: 2px 5px;
        background-color: $grey5;
        @include border-radius(3px);

        &:hover {
          background-color: $red3;
          color: white;
        }
      }
    }
  }
}

#profile-flag {
  position: relative;
  z-index: 1;
  left: -33px;
  top: -22px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Channel links.
.block-user-info-block,
.block-group-info-block {
  .official-website {
    margin: 10px 0;
  }

  .social-links {
    margin: 10px 0;
    padding: 0;

    a.social-link {
      display: block;
      float: left;
      width: 25px;
      height: 25px;
      margin: 0 5px 5px 0;
      @include border-radius(3px);
      @include opacity(0.6);

      &:hover {
        @include opacity(1);
      }
    }

    .social-link-website {
      background-image: url("../images/social-icons/website-25x25.png");
    }

    .social-link-facebook {
      background-image: url("../images/social-icons/facebook-25x25.png");
    }

    .social-link-linkedin {
      background-image: url("../images/social-icons/linkedin-25x25.png");
    }

    .social-link-twitter {
      background-image: url("../images/social-icons/twitter-25x25.png");
    }

    .social-link-meetup {
      background-image: url("../images/social-icons/meetup-25x25.png");
    }

    .social-link-google-plus {
      background-image: url("../images/social-icons/google-plus-25x25.png");
    }

    .social-link-youtube {
      background-image: url("../images/social-icons/youtube-25x25.png");
    }

    .social-link-flickr {
      background-image: url("../images/social-icons/flickr-25x25.png");
    }

    .social-link-wikipedia {
      background-image: url("../images/social-icons/wikipedia-25x25.png");
    }

    .social-link-academia {
      background-image: url("../images/social-icons/academia-25x25.png");
    }

    .social-link-skype {
      background-image: url("../images/social-icons/skype-25x25.png");
    }
  }
}
