$postFontSize = 11px;
$postLineHeight = $postFontSize * 1.5;
$postContentWrapperHeight = $postLineHeight * 3;


.view-channel {

	.views-row {
		padding: 20px 0;
		border-bottom: solid 1px black;

		header {
			display: none;
		}
	}

	.view-comments .views-row {
		border: none;
	}
}

#comments, .indented {
	margin: 0;
}

.post-article-body {

	padding: 5px;
	margin: 1px 0;
	@include border-radius(3px);
	font-size: $postFontSize;
	line-height: $postLineHeight;

	.post-content-wrapper {
		height: $postContentWrapperHeight;
		overflow: hidden;
		margin-left: 45px;

		.post-content,
		.post-content {
			a.username {
				font-weight: bold;
			}

			time {
				float: right;
				color: #999;
			}
		}

		&.auto-height {
			height: auto;
		}
	}

	.user-picture {
		float: left;
	}

	.score-more-wrapper,
	.post-controls {
		height: 18px;
		border-top: solid 1px #ccc;
		margin-left: 45px;
		margin-top: 2px;
	}

	.post-controls {
		padding-top: 1px;

		nav.links {
			display: block;
			float: right;
			height: $postLineHeight;

			li {
				height: $postLineHeight;
				padding: 0 5px;
				border-right: solid 1px #ccc;
				margin: 0;

				a {
					line-height: $postLineHeight;
				}
			}
		}
	}

	.score-more-wrapper {
		.more-link-wrapper {
			float: right;
			border-left: solid 1px #ccc;
			padding-left: 5px;
			margin-left: 5px;
			line-height: $postLineHeight;

			a.more-link {
				span.expand-icon {
					font-size: 7px;
				}
			}
		}
	}

	.post-score-wrapper {
		display: block;
		float: right;
		margin: 0 0 0 5px;
		line-height: $postLineHeight;
	}

	textarea {
		font-size: $postFontSize;
		padding: 2px;
		height: 2 * $postLineHeight;
		resize: none;
		overflow: hidden;

		&.uploading {
			background: white url('../images/loading29.gif') no-repeat center center;
		}
	}
}

.view-channel {
	article.node {
		background-color: white;

		.field-name-field-item-text {
			font-size: 13px;
		}
	}

	article.comment {
		background-color: #eef;
	}
}

#comments {
	article.new-comment-form-article {
		.post-content-wrapper {
			height: auto;
		}
	}

	.new-comment-controls {
		margin-top: 2px;
		text-align: right;

		input {
			padding: 1px 4px;
		}
	}

	.field-name-comment-body {
		.field-item {
			white-space: pre-wrap;
		}
	}
}

.rating-buttons {
	float: right;
	width: 85px;
	height: 16px;
	margin: 0 0 0 5px;
}

a.rating-button {
	display: block;
	float: left;
	background-image: url('../images/rating-icons.png');
	background-color: $blue1;
	width: 16px;
	height: 16px;
	padding: 0;
	@include border-radius(3px);
	margin: 0 0 0 1px;

	&:hover {
		background-color: $red1;
	}

	&.rating-button-love {
		background-position: -64px top;
	}

	&.rating-button-like {
		background-position: -48px top;
	}

	&.rating-button-meh {
		background-position: -32px top;
	}

	&.rating-button-dislike {
		background-position: -16px top;
	}

	&.rating-button-warning {
		background-position: left top;
	}
}

.node-item-form {
	#edit-field-item-type-und {
		.form-type-radio {
			display: inline;

			input {
				margin-right: 3px;
			}
		}
	}

	#field-item-link-add-more-wrapper {
		.form-type-textfield {
			margin: 0;

			input {
				width: 100%;
			}
		}
	}
}
