$postFontSize = 12px;
$postLineHeight = $postFontSize * 1.5;
$ratingButtonHeight = 20px;

@mixin channel-page-section {
  padding: 0 10px 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px $grey2;
}

#channel-items {
  .node-item {
    @include channel-page-section;

    header {
      display: none;
    }

    .post-content {
      .field {
        margin: 8px 0;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

#comments, .indented {
  margin: 0;
}

#comments,
article.node-item {
  .post-content-wrapper {
    overflow: hidden;
    min-height: 40px;
  }
}

.who_where_when_posted {
  color: $grey3;
  font-size: 11px;
  line-height: 16px;

  a.username {
    font-weight: bold;
  }
}

.post-article-body {
  margin: 1px 0;
  font-size: $postFontSize;
  line-height: $postLineHeight;
  padding: 5px;
  background-color: $grey5;
  border: solid 1px $grey4;
  @include border-radius(3px);

  .post-content-wrapper {
    margin-left: 45px;
  }

  .user-picture {
    float: left;
  }

  .score-more-wrapper,
  .post-controls {
    height: $ratingButtonHeight;
    margin-left: 45px;
    margin-top: 2px;
  }

  .post-controls {
    padding-top: 1px;
    border-top: solid 1px $grey4;

    ul.action-links {
      display: block;
      float: right;
      height: $ratingButtonHeight;
      margin-bottom: 0;

      li {
        padding: 0 4px;
        //border-right: solid 1px $grey4;
        margin: 0;
        float: right;
        display: block;
        height: $ratingButtonHeight;
        line-height: $ratingButtonHeight;

        a {
          line-height: $ratingButtonHeight;
        }

        &.waiting {
          padding-right: 18px;
          background: url('../images/loading1.gif') no-repeat right 2px;
        }
      }
    }
  }

  .score-more-wrapper {
    border-top: dashed 1px $grey4;

    .more-link-wrapper {
      float: right;
      border-left: solid 1px $grey4;
      padding-left: 5px;
      margin-left: 5px;
      line-height: $ratingButtonHeight;

      a.more-link {
        span.expand-icon {
          font-size: 7px;
        }
      }
    }
  }

  .post-score-wrapper {
    display: block;
    float: right;
    margin: 0 0 0 5px;
    line-height: $ratingButtonHeight;
  }

  textarea {
    font-size: $postFontSize;
    padding: 2px;
    height: 2 * $postLineHeight;
    //resize: none;
    overflow: hidden;
    margin-top: 8px;

    &.uploading {
      background: white url('../images/loading29.gif') no-repeat center center;
    }
  }

  .comment-description {
    padding: 0;
    font-size: 11px;
    color: $grey3;
  }

  // Post, update and cancel buttons in channels:
  form.node-item-form .form-actions,
  .comment-buttons {
    input[type=button],
    input[type=submit],
    .form-submit,
    .form-button,
    #edit-submit {
      margin: 2px 0 0 2px;
      padding: 1px 5px;
      float: right;
      font-size: 11px;

      &:hover {
        background-color: $red3;
      }
    }
  }
}

.post-form-wrapper {
  @include channel-page-section;

  h2 {
    margin-bottom: 10px;
    line-height: 20px;
  }

  input.form-text,
  select,
  .form-textarea-wrapper textarea {
    border-color: $grey4;
    width: 100%;
  }
}

article.new-comment-form-article {
  .post-content-wrapper {
    height: auto;

    form {
      padding: 0;
      margin: 0;
      border: none;
      background: none;
    }
  }
}

.field-name-comment-body {
  .field-item {
    white-space: pre-wrap;
  }
}

.rating-buttons {
  float: right;
  width: 105px;
  height: $ratingButtonHeight;
  margin: 0 0 0 5px;
}

input.rating-button {
  display: block;
  float: left;
  background: url('../images/rating-icons2.png') top left;
  width: $ratingButtonHeight;
  height: $ratingButtonHeight;
  padding: 0;
  @include border-radius(3px);
  margin: 0 0 0 1px;

  &.rating-button-warning {
    background-position: left top;

    &:hover,
    &.selected {
      background-position: left bottom;
    }
  }

  &.rating-button-dislike {
    background-position: -20px top;

    &:hover,
    &.selected {
      background-position: -20px bottom;
    }
  }

  &.rating-button-indifferent {
    background-position: -40px top;

    &:hover,
    &.selected {
      background-position: -40px bottom;
    }
  }

  &.rating-button-like {
    background-position: -60px top;

    &:hover,
    &.selected {
      background-position: -60px bottom;
    }
  }

  &.rating-button-favourite {
    background-position: -80px top;

    &:hover,
    &.selected {
      background-position: -80px bottom;
    }
  }
}

#moonmars-members-filter-channel-form,
article.node-channel form,
article.node-item form {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}


form.node-item-form {

  #edit-field-item-type-und {
    .form-type-radio {
      display: inline;
      margin: 0 10px 0 0;

      input {
        margin: 0 3px;
      }
    }
  }

  #field-item-link-add-more-wrapper {
    .form-type-textfield {
      margin: 0;

      input {
        width: 100%;
      }
    }
  }

  .form-item .description {
    padding: 0;
  }

  .form-actions {
    margin: 0;
  }

  #field-item-text-add-more-wrapper {
    .form-item {
      margin-bottom: 0;

      .description {
        float: left;
      }
    }
  }
}

article.node-item {
  .field-name-field-item-text {
    .field-item {
      white-space: pre-wrap;
    }
  }

  p.comment-instruction {
    margin: 0;
    font-size: 11px;
    color: $grey3;
  }
}

article.comment {
  margin-top: 5px;

  .post-article-body {
    background-color: $blue5;
    border-color: $blue4;
  }
}

#channel-pager {
  @include channel-page-section;
  border-bottom: none;
  margin-bottom: 0;

  ul.pager {
    height: 22px;
    margin-bottom: 0;

    li {
      font-size: 12px;
      line-height: 18px;
      padding: 0;

      &.pager-current {
        padding: 2px 5px;
        background-color: $blue3;
        color: white;
        @include border-radius(3px);
      }

      a {
        padding: 2px 5px;
        background-color: $grey5;
        @include border-radius(3px);

        &:hover {
          background-color: $red3;
          color: white;
        }
      }
    }
  }
}

#return_link {
  text-align: right;
  margin: 8px 0;
}
