.form-textarea-wrapper {
  span.cke_skin_kama {
    padding: 0;
    border: 0;

    .cke_wrapper {
      padding: 0;
      background: none;
    }

    table.cke_editor {
      margin-bottom: 0;
      width: 100%;

      tr {
        td {
          padding: 0;
          border: 0;

          &#cke_bottom_edit-field-description-und-0-value {
            display: none;
          }

          .cke_toolbox_collapser {
            display: none;
          }

          &.cke_contents {
            border: solid 1px $blue4;
            @include border-radius(3px);
          }
        }
      }
    }
  }
}

.text-format-wrapper {
  .description {
    margin-top: 0;
  }

  .filter-wrapper {
    display: none;
  }
}
