$postFontSize = 11px;
$postLineHeight = $postFontSize * 1.5;
$postContentWrapperHeight = $postLineHeight * 3;


#comments, .indented {
	margin: 0;
}

.view-channel .article-body,
#comments article {

	padding: 5px;
	margin: 1px 0;
	@include border-radius(3px);
	background-color: #eef;
	font-size: $postFontSize;
	line-height: $postLineHeight;

	.post-content-wrapper {
		height: $postContentWrapperHeight;
		overflow: hidden;
		margin-left: 45px;

		.post-content,
		.post-content {
			a.username {
				font-weight: bold;
			}

			time {
				float: right;
				color: #999;
			}
		}
	}

	.user-picture {
		float: left;
	}

	.score-more-wrapper,
	.post-controls {
		height: 18px;
		border-top: solid 1px #ccc;
		margin-left: 45px;
		margin-top: 2px;
	}

	.post-controls {
		nav.links {
			display: block;
			float: right;
			height: $postLineHeight;

			li {
				height: $postLineHeight;
				padding: 0 5px;
				border-right: solid 1px #ccc;
				margin: 0;

				a {
					line-height: $postLineHeight;
				}
			}
		}
	}

	.score-more-wrapper {
		.more-link-wrapper {
			float: right;
			border-left: solid 1px #ccc;
			padding-left: 5px;
			margin-left: 5px;
			line-height: $postLineHeight;

			a.more-link {
				span.expand-icon {
					font-size: 7px;
				}
			}
		}
	}

	.post-score-wrapper {
		display: block;
		float: right;
		margin: 0 0 0 5px;
		line-height: $postLineHeight;
	}

}

.view-channel .article-body {
	background-color: white;

	.field-name-field-item-text {
		font-size: 13px;
	}
}

#comments article.comment-form {

	.post-content-wrapper {
		height: auto;
	}

	form.new-comment-form {
		.new-comment-textarea {
			font-size: $postFontSize;
			padding: 2px;
			height: 2 * $postLineHeight;
			resize: none;
			overflow: hidden;

			&.uploading {
				background: white url('../images/loading29.gif') no-repeat center center;
			}

		}
	}

	.new-comment-controls {
		margin-top: 5px;
		text-align: right;

		input {
			padding: 1px 4px;
		}
	}
}