@mixin blank-container {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}

@mixin blank-form-style {
  @include blank-container;
  margin-bottom: 20px;
}

@mixin grey-form-style {
  background-color: $grey5;
  border: solid 1px $grey4;
  @include border-radius(3px);
  padding: 10px;
  margin-bottom: 15px;
}

form {
  @include grey-form-style;

  div.form-item label,
  span.fieldset-legend {
    font-weight: bold;
  }

  fieldset {
    margin-bottom: 25px;

    legend {
      color: black;
      @include border-radius(3px 3px 0 0);
      font-size: $fontSizeH3;
      position: relative;
      top: -12px;
    }

    div.fieldset-wrapper {
      padding: 10px;

      .date-padding {
        padding: 0;
      }
    }
  }

  .fieldset-description {
    font-style: italic;
    color: $grey3;
  }

  input.form-text,
  select,
  textarea {
    line-height: 16px;
    padding: 2px;
    border: solid 1px $blue4;
    @include border-radius(3px);
  }

  textarea {
    resize: none;
  }

  input.form-text,
  .form-textarea-wrapper textarea {
    width: 278px;
  }

  .field-name-field-event-price {
    float: left;
  }

  .container-inline-date > .form-item {
    margin: 1em 0;
  }

  .location .form-item label {
    float: none;
  }

  .form-item {
    margin: 15px 0;

    & > label {
      padding: 3px 0;
    }

    div.link-field-column {
      width: 263px;

      .link-field-title,
      .link-field-url {
        input.form-text {
          width: 263px;
        }
      }

      .link-field-title {
        margin-right: 10px;
      }
    }
  }

  & > div > .form-item:first-child {
    margin-top: 0;
  }

  & > div > .form-item:last-child {
    margin-bottom: 0;
  }

  .description {
    font-size: 11px;
    padding: 3px 0;
    color: $grey3;
  }

  .form-type-checkboxes,
  .form-type-radios {
    .form-checkboxes,
    .form-radios {
      margin-bottom: 2px;

      .form-type-checkbox,
      .form-type-radio {
        input {
          margin-left: 5px;
        }

        label {
          font-weight: normal;
        }
      }
    }
  }

  .form-type-checkbox,
  .form-type-radio {
    vertical-align: middle;
    cursor: pointer;

    input {
      margin: 0 5px 0 0;
      cursor: pointer;
    }

    label {
      font-weight: normal;
      vertical-align: middle;
      cursor: pointer;
    }

    .description {
      margin-left: 0;
    }
  }

  .field-type-link-field {
    .link-field-url {
      .form-item {
        margin: 0;
      }
    }
  }

  & > div > div#edit-actions {
    margin-bottom: 0;
  }

  .vertical-tabs {
    margin: 0;
  }

  .wysiwyg-toggle-wrapper {
    display: none;
  }
}

#region-sidebar-first,
#region-sidebar-second {
  form {
    padding: 5px;
  }
}

////////////////////////////////////
// Channel node form
#channel-node-form {
  .form-item {
    margin-top: 0;
  }

  .field-type-link-field {
    label {
      line-height: 25px;
      margin-bottom: 3px;
    }
  }

  .social-link-icon {
    @include border-radius(3px);
  }
}


////////////////////////////////////
// Search form in right sidebar

#search-block-form {
  #edit-search-block-form--2 {
    width: 100%;
  }

}

////////////////////////////////////
// Form buttons. This style is to be tested everywhere to make sure it works.

.form-actions {
  display: block;
  text-align: right;

  .form-submit {
    margin: 3px 0 0 5px;
  }
}

////////////////////////////////////
// User login form in sidebar

#user-login-form {
  input.form-text {
    width: 100%;
  }

  #edit-actions {
    margin-bottom: 0;
  }
}

////////////////////////////
// Groups search form

form#moonmars-groups-search-form {
  @include blank-form-style;

  fieldset {
    @include grey-form-style;

    .fieldset-wrapper {
      padding: 0;
    }

    .fieldset-wrapper > .form-item > label {
      margin-bottom: 2px;
    }

    .description {
      padding-top: 2px;
    }

    .form-item-text {
      margin-top: 0;

      #edit-text {
        width: 278px;
        box-sizing: border-box;
      }
    }

    .form-type-checkbox,
    .form-type-radio {
      //display: inline;
      margin-right: 10px;

      label {
        font-weight: normal;
      }

      .form-checkbox,
      .form-radio {
        margin: 0 2px 0 0;
      }
    }

    .group-search-member {
      margin: 15px 0;
      @include clearfix;

      label.group-search-member-title {
        font-weight: bold;
        display: block;
      }

      div,
      label {
        display: inline;
      }

      label {
        padding: 0;
        font-weight: normal;
      }

      #edit-member {
        width: 150px;
        margin-left: 2px;
        background-position: right 4px;
      }

      .form-type-radio {
        margin-right: 0;
      }

      .form-radio {
        margin: 0 0 0 3px;
      }
    }

    .clear-button {
      margin-right: 5px;
    }

  }

  table {
    .groups-column-group {
      text-align: center;
      width: 100px;

      .group-link {
        a {
          @include group-link;
          width: 100px;
          margin: 0px;
        }
      }
    }

    .group-type,
    .group-member-count {
      color: $grey3;
    }

    .group-description {
      color: $grey3;
      font-size: 11px;
    }

    th {
      white-space: nowrap;
    }
  }

  #edit-update {
    float: right;
  }
}

#autocomplete li.selected {
  background: $red3;
  color: #fff;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Relation edit form

#relation-edit-form {
  .form-item-field-item-notification-und {
    margin-top: 0;
  }
}
