form {
  background-color: $grey5;
  border: solid 1px $grey4;
  @include border-radius(3px);
  padding: 10px;
  margin-bottom: 20px;

  div.form-item label,
  span.fieldset-legend {
    font-weight: bold;
  }

  fieldset {

    legend {
      color: $red1;
      @include border-radius(3px 3px 0 0);
      font-size: $fontSizeH3;
      position: relative;
      top: -12px;
    }

    div.fieldset-wrapper {
      padding: 10px;

      .date-padding {
        padding: 0;
      }
    }
  }

  .fieldset-description {
    font-style: italic;
    color: $grey3;
  }

  input.form-text,
  select,
  textarea {
    line-height: 16px;
    padding: 2px;
    border: solid 1px $blue4;
    @include border-radius(3px);
    //resize: none;
  }

  input.form-text,
  .form-textarea-wrapper textarea {
    width: 300px;
  }

  .field-name-field-event-price {
    float: left;
  }

  .container-inline-date > .form-item {
    margin: 1em 0;
  }

  .location .form-item label {
    float: none;
  }

  .form-item {
    margin: 15px 0;

    .description {
      font-size: 11px;
      padding: 5px 0;
      color: $grey3;
    }

    div.link-field-column {
      width: 285px;

      .link-field-title,
      .link-field-url {
        input.form-text {
          width: 285px;
        }
      }

      .link-field-title {
        margin-right: 10px;
      }
    }

  }

  .form-type-radios {

    div.form-radios {
      margin-bottom: 2px;

      div.form-type-radio {
        //height: 25px;
        //line-height: 25px;
        vertical-align: middle;
        cursor: pointer;

        input {
          margin: 0 10px;
          cursor: pointer;
        }

        label {
          font-weight: normal;
          //line-height: 25px;
          vertical-align: middle;
          cursor: pointer;
        }
      }
    }
  }

  .field-type-link-field {
    .link-field-url {
      .form-item {
        margin: 0;
      }
    }
  }

  .form-item:first-child {
    margin-top: 0;
  }

  & > div > div#edit-actions {
    margin-bottom: 0;
  }
}

#region-sidebar-first,
#region-sidebar-second {
  form {
    padding: 5px;
  }
}

////////////////////////////////////////////////////////////////////////
// Check username message - register and profile forms

#edit-name-wrapper {
  height: 24px;

  input {
    float: left;
  }

  div {
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    float: left;
  }

  #username-check {
    color: $blue3;
    cursor: pointer;
  }

  #username-message {
    &.username-valid {
      color: $green3;
    }

    &.username-invalid {
      color: $red3;
    }
  }

  #username-waiting {
    height: 20px;
    width: 16px;
    background: url('../images/loading1.gif') no-repeat right 3px;
  }
}

///////////////////////////////////////
// User registration and profile forms

#user-register-form,
#user-profile-form {
  margin-bottom: 20px;

  & > div > div,
  & > div > fieldset,
  #edit-account > div {
    margin: 15px 0;
  }

  #edit-account {
    margin-top: 0;

    .form-item-name {
      margin-top: 0;
    }
  }

  #site-rules {
    h3 {
      margin: 0 0 5px;
    }

    p {
      margin: 10px 0;
    }

    ul {
      margin: 10px 0 0 20px;
    }
  }

  .form-item-rules-cb {
    margin: 10px 0 15px;
  }

  #edit-current-pass,
  #edit-pass-pass1,
  #edit-pass-pass2 {
    width: 130px;
    margin-bottom: 0;
  }

  .form-item-pass-pass2 {
    margin-bottom: 3px;
  }

  .form-type-password-confirm {
    .form-type-password {
      width: 300px;
    }
  }

  .password-strength,
  .password-confirm {
    width: 160px;
  }

  .password-suggestions {
    width: 290px;
    padding: 4px;
    margin-bottom: 0;

    ul {
      margin-left: 20px;
    }
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: none;

    legend,
    .fieldset-description {
      display: none;
    }

    .fieldset-wrapper {
      padding: 0;
    }
  }

  .description {
    margin-left: 0;
  }

  .field-type-datetime {
    .form-type-date-popup {
      margin: 0;
    }

    .form-item-field-date-of-birth-und-0-value-date {
      .description {
        padding-bottom: 0;
      }
    }
  }

  .location .form-item input,
  #edit-field-user-location-und-0-country,
  #edit-field-user-location-und-0-province-selector,
  #edit-timezone--2 {
    width: 300px;
  }

  #edit-field-user-location {
    .location .form-item input {
      margin-bottom: 0;
    }

    .form-item-field-user-location-und-0-country {
      margin-top: 0;
    }

    .form-item-field-user-location-und-0-city {
      margin-bottom: 0;
    }
  }

  #edit-field-mobile-phone-und-0-value {
    width: 150px;
  }

  #edit-picture {
    .user-picture {
      float: left;
      margin-right: 10px;
    }
  }
}

////////////////////////////////////////////////////////////////////////
// Moon or Mars field (register form and profile form)

#edit-field-moon-or-mars {
  margin: 15px 0;

  #edit-field-moon-or-mars-und {
    height: 110px;
    margin: 0;

    div.form-item {
      float: left;
      width: 92px;
      margin: 0 8px 0 0;

      &:last-child {
        margin-right: 0;
      }

      label {
        display: block;
        width: 80px;
        height: 15px;
        padding: 85px 5px 5px;
        margin: 5px 0 0 0;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        text-align: center;
        background-color: white;
        border: solid 1px $grey4;
        @include border-radius(3px);

        &.selected {
          background-color: $blue4;
          border-color: $blue3;
        }

        &:hover {
          background-color: $red4;
          border-color: $red3;
        }
      }

      input {
        display: none;
      }
    }
  }
}

////////////////////////////////////
// Search form in right sidebar

#search-block-form {
  #edit-search-block-form--2 {
    width: 100%;
  }

  .form-actions {
    display: block;
    text-align: right;

    .form-submit {
      margin-top: 3px;
      margin-right: 0;
    }
  }

}

////////////////////////////////////
// User login form in sidebar

#user-login-form {
  input.form-text {
    width: 100%;
  }

  #edit-actions {
    margin-bottom: 0;
  }
}
