@mixin blank-form-style {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

@mixin grey-form-style {
  background-color: $grey5;
  border: solid 1px $grey4;
  @include border-radius(3px);
  padding: 10px;
  margin-bottom: 15px;
}

form {
  @include grey-form-style;

  div.form-item label,
  span.fieldset-legend {
    font-weight: bold;
  }

  fieldset {
    margin-bottom: 25px;

    legend {
      color: $red1;
      @include border-radius(3px 3px 0 0);
      font-size: $fontSizeH3;
      position: relative;
      top: -12px;
    }

    div.fieldset-wrapper {
      padding: 10px;

      .date-padding {
        padding: 0;
      }
    }
  }

  .fieldset-description {
    font-style: italic;
    color: $grey3;
  }

  input.form-text,
  select,
  textarea {
    line-height: 16px;
    padding: 2px;
    border: solid 1px $blue4;
    @include border-radius(3px);
  }

  textarea {
    resize: none;
  }

  input.form-text,
  .form-textarea-wrapper textarea {
    width: 278px;
  }

  .field-name-field-event-price {
    float: left;
  }

  .container-inline-date > .form-item {
    margin: 1em 0;
  }

  .location .form-item label {
    float: none;
  }

  .form-item {
    margin: 15px 0;

    & > label {
      padding: 3px 0;
    }

    div.link-field-column {
      width: 263px;

      .link-field-title,
      .link-field-url {
        input.form-text {
          width: 263px;
        }
      }

      .link-field-title {
        margin-right: 10px;
      }
    }
  }

  & > div > .form-item:first-child {
    margin-top: 0;
  }

  & > div > .form-item:last-child {
    margin-bottom: 0;
  }

  .description {
    font-size: 11px;
    padding: 3px 0;
    color: $grey3;
  }

  .form-type-checkboxes,
  .form-type-radios {
    .form-checkboxes,
    .form-radios {
      margin-bottom: 2px;

      .form-type-checkbox,
      .form-type-radio {
        input {
          margin-left: 5px;
        }

        label {
          font-weight: normal;
        }
      }
    }
  }

  .form-type-checkbox,
  .form-type-radio {
    vertical-align: middle;
    cursor: pointer;

    input {
      margin: 0 5px 0 0;
      cursor: pointer;
    }

    label {
      font-weight: normal;
      vertical-align: middle;
      cursor: pointer;
    }

    .description {
      margin-left: 0;
    }
  }

  .field-type-link-field {
    .link-field-url {
      .form-item {
        margin: 0;
      }
    }
  }

  & > div > div#edit-actions {
    margin-bottom: 0;
  }

  .vertical-tabs {
    margin: 0;
  }

  .wysiwyg-toggle-wrapper {
    display: none;
  }
}

#region-sidebar-first,
#region-sidebar-second {
  form {
    padding: 5px;
  }
}

////////////////////////////////////////////////////////////////////////
// Check username message - register and profile forms

#edit-name-wrapper {
  height: 24px;

  input {
    float: left;
  }

  div {
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    float: left;
  }

  #username-check {
    color: $blue3;
    cursor: pointer;
  }

  #username-message {
    &.username-valid {
      color: $green3;
    }

    &.username-invalid {
      color: $red3;
    }
  }

  #username-waiting {
    height: 20px;
    width: 16px;
    background: url('../images/loading1.gif') no-repeat right 3px;
  }
}

///////////////////////////////////////
// User registration and profile forms

#user-profile-form {
  @include blank-form-style;

  fieldset {
    legend {
      color: black;
      top: -5px;
    }

    .fieldset-wrapper {
      @include grey-form-style;
      margin-bottom: 0;
    }

    // Hide the appearance of nested fieldsets:
    fieldset {
      border: 0;
      padding: 0;
      margin: 0;

      .fieldset-wrapper {
        border: 0;
        padding: 0;
        margin: 0;
      }

      legend {
        display: none;
      }
    }
  }

  .form-item-field-user-location-und-0-country {
    margin-top: 0;
  }
}

#user-register-form {
  fieldset {
    margin-bottom: 0;

    .fieldset-wrapper {
      padding: 0;
    }

    legend {
      display: none;
    }
  }
}

#user-register-form,
#user-profile-form {
  // Fieldsets:
  #edit-account {
    margin-top: 0;

    .form-item-name {
      margin-top: 0;
    }

    .form-item-status {
      margin-bottom: 0;
    }

    #edit-current-pass,
    #edit-pass-pass1,
    #edit-pass-pass2 {
      width: 110px;
      margin-bottom: 0;
    }

    .form-item-pass-pass2 {
      margin-bottom: 3px;
    }

    .form-type-password-confirm {
      .form-type-password {
        width: 278px;
      }
    }

    .password-strength,
    div.password-confirm {
      width: 160px;
    }

    .password-strength {
      margin-top: 22px;
    }

    div.password-confirm {
      margin-top: 25px;
    }

    .password-suggestions {
      width: 268px;
      padding: 4px;
      margin-bottom: 0;

      ul {
        margin-left: 20px;
      }
    }
  }

  #user_user_form_group_personal {
    #edit-picture {
      margin-bottom: 0;

      .form-item-files-picture-upload {
        margin: 0;

        label {
          display: none;
        }
      }

      .user-picture {
        float: left;
        margin-right: 10px;
      }

      legend {
        display: block;
        font-size: 12px;
        top: 0;
        padding: 3px 0;
      }

      .form-item-picture-delete {
        margin-top: 0;
      }
    }

    .field-type-datetime {
      .form-type-date-popup {
        margin: 0;
      }

      .form-item-field-date-of-birth-und-0-value-date {
        .description {
          padding-bottom: 0;
        }
      }
    }
  }

  #edit-field-user-location {
    .location .form-item input {
      margin-bottom: 0;
    }

    .form-item-timezone {
      margin-bottom: 0;
    }
  }

  #edit-links {
    .form-item-field-website-und-0-url {
      margin-top: 0;
    }

    .form-item-field-wikipedia-link-und-0-url {
      margin-bottom: 0;
    }
  }

  #user_user_form_group_preferences {
    margin-bottom: 10px;

    .form-item {
      margin-top: 0;
    }

    .form-item-field-background-color-und-0-rgb {
      margin-bottom: 0;
    }
  }

  #site-rules {
    h3 {
      margin: 0 0 5px;
    }

    p {
      margin: 10px 0;
    }

    ul {
      margin: 10px 0 0 20px;
    }
  }

  .form-item-rules-cb {
    margin: 10px 0 15px;
  }

  .description {
    margin-left: 0;
  }

  .location .form-item input,
  #edit-field-user-location-und-0-country,
  #edit-field-user-location-und-0-province-selector,
  #edit-timezone--2 {
    width: 278px;
  }

  #edit-field-mobile-phone-und-0-value {
    width: 150px;
  }

  #edit-actions {
    margin-top: 0;
  }


  #edit-field-moon-or-mars {
    width: 276px;

    .form-item-field-moon-or-mars-und {
      margin: 0;
    }

    #edit-field-moon-or-mars-und {
      height: 104px;
      margin: 0;

      div.form-item {
        float: left;
        width: 88px;
        margin: 0 2px;

        &:last-child {
          margin-right: 0;
        }

        label {
          display: block;
          width: 80px;
          height: 15px;
          padding: 84px 4px 4px;
          margin: 0;
          background-repeat: no-repeat;
          background-position: 4px 4px;
          text-align: center;
          background-color: $grey4;
          border: solid 1px $grey4;
          @include border-radius(4px);

          &.selected {
            border-color: $blue3;
            background-color: $blue3;
            color: white;
          }

          &:hover {
            border-color: $red3;
            background-color: $red3;
            color: white;
          }
        }

        input {
          display: none;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////
// Moon or Mars field (register form and profile form)

////////////////////////////////////
// Channel node form
#channel-node-form {
  .form-item {
    margin-top: 0;
  }

  .field-type-link-field {
    label {
      line-height: 25px;
      margin-bottom: 3px;
    }
  }

  .social-link-icon {
    @include border-radius(3px);
  }
}


////////////////////////////////////
// Search form in right sidebar

#search-block-form {
  #edit-search-block-form--2 {
    width: 100%;
  }

}

////////////////////////////////////
// Form buttons. This style is to be tested everywhere to make sure it works.

.form-actions {
  display: block;
  text-align: right;

  .form-submit {
    margin: 3px 0 0 5px;
  }
}

////////////////////////////////////
// User login form in sidebar

#user-login-form {
  input.form-text {
    width: 100%;
  }

  #edit-actions {
    margin-bottom: 0;
  }
}


#subscriptions-form {
  border: none;
  background: none;
  padding: 0;
  margin: 0;

  #channels-button {
    text-align: right;
    //margin-bottom:
  }
}

////////////////////////////
// Groups search form

form#moonmars-groups-search-form {
  @include blank-form-style;

  fieldset {
    @include grey-form-style;

    .fieldset-wrapper {
      padding: 0;
    }

    .fieldset-wrapper > .form-item > label {
      margin-bottom: 2px;
    }

    .description {
      padding-top: 2px;
    }

    .form-item-text {
      margin-top: 0;

      #edit-text {
        width: 278px;
        box-sizing: border-box;
      }
    }

    .form-type-checkbox,
    .form-type-radio {
      //display: inline;
      margin-right: 10px;

      label {
        font-weight: normal;
      }

      .form-checkbox,
      .form-radio {
        margin: 0 2px 0 0;
      }
    }

    .group-search-member {
      margin: 15px 0;
      @include clearfix;

      label.group-search-member-title {
        font-weight: bold;
        display: block;
      }

      div,
      label {
        display: inline;
      }

      label {
        padding: 0;
        font-weight: normal;
      }

      #edit-member {
        width: 150px;
        margin-left: 2px;
        background-position: right 4px;
      }

      .form-type-radio {
        margin-right: 0;
      }

      .form-radio {
        margin: 0 0 0 3px;
      }
    }

    .clear-button {
      margin-right: 5px;
    }

  }

  table {
    .groups-column-group {
      text-align: center;
      width: 100px;

      .group-link {
        a {
          @include group-link;
          width: 100px;
          margin: 0px;
        }
      }
    }

    .group-type,
    .group-member-count {
      color: $grey3;
    }

    .group-description {
      color: $grey3;
      font-size: 11px;
    }

    th {
      white-space: nowrap;
    }
  }

  #edit-update {
    float: right;
  }
}

#autocomplete li.selected {
  background: $red3;
  color: #fff;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Relation edit form

#relation-edit-form {
  .form-item-field-item-notification-und {
    margin-top: 0;
  }
}
