form {

  #edit-title {
  }

  div.form-item label,
  span.fieldset-legend {
    font-weight: bold;
  }

  .date-no-float {
  }

  fieldset {
    @include border-radius(3px);
    background-color: $blue5;
    margin-top: 20px;

    legend {
      color: $red1;
      @include border-radius(3px 3px 0 0);
      font-size: $fontSizeH3;
      position: relative;
      top: -12px;
    }

    div.fieldset-wrapper {
      padding: 10px;

      .date-padding {
        padding: 0;
      }
    }
  }

  .fieldset-description {
    font-style: italic;
    color: $grey3;
  }

  input.form-text,
  select,
  textarea {
    line-height: 16px;
    padding: 2px;
    border: solid 1px $blue4;
    @include border-radius(3px);
    resize: none;
  }

  input.form-text,
  select {
    height: 22px;
  }

  .field-name-field-event-price {
    float: left;
  }

  .container-inline-date > .form-item {
    margin: 1em 0;
  }

  .location .form-item label {
    float: none;
  }

  .form-item {
    margin: 16px 0;

    .description {
      font-size: 11px;
      padding: 5px 0;
      color: $grey3;
    }

    div.link-field-column {
      width: 285px;

      .link-field-title,
      .link-field-url {
        input.form-text {
          width: 285px;
        }
      }

      .link-field-title {
        margin-right: 10px;
      }
    }

  }

  .form-type-radios {
    margin: 10px 0;

    div.form-radios {
      margin-bottom: 2px;

      div.form-type-radio {
        //height: 25px;
        //line-height: 25px;
        vertical-align: middle;
        cursor: pointer;

        input {
          margin: 0 10px;
          cursor: pointer;
        }

        label {
          font-weight: normal;
          //line-height: 25px;
          vertical-align: middle;
          cursor: pointer;
        }
      }
    }
  }
}
