
#block-views-group-info-block {
  margin-top: 0;

  .view-group-info {
    .views-field {
      margin: 10px 0;
    }

    .views-field-title {
      font-size: 20px;
      font-weight: bold;
    }

    .views-field-field-description {
      font-size: 11px;
      color: $grey3;
    }

    .views-field-php {
      font-size: 12px;
      color: black;
    }

    #group-user-menu {
      list-style-type: none;
    }

    .views-field-field-group-type div {
      display: inline;
      color: $grey3;
    }

    .views-field-field-logo {
      margin-top: 10px;
    }

    .views-field-php {
      margin: 0;
    }
  }
}

@mixin group-link {
  @include border-radius(3px);
  display: block;
  width: 100%;
  padding: 5px 0;
  background-color: $grey5;
  text-align: center;

  &:hover {
    background-color: $red3;
    color: white;
  }
}

.groups-block {
  .view-all-groups-link {
    text-align: right;
  }

  ul.group-list {
    list-style-type: none;
    margin: 3px 0 0;

    li {
      margin-bottom: 3px;

      a {
        @include group-link;
      }
    }
  }
}

.view-newest-groups {
  .views-row {
    background-color: $grey5;
    @include border-radius(3px);
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 0;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Groups search form
form#moonmars-groups-search-form {
  @include form-with-fieldsets;

  fieldset {
    .fieldset-wrapper > .form-item > label {
      margin-bottom: 2px;
    }

    .description {
      padding-top: 2px;
    }

    .form-item-text {
      margin-top: 0;

      #edit-text {
        width: 278px;
        box-sizing: border-box;
      }
    }

    .form-type-checkbox,
    .form-type-radio {
      //display: inline;
      margin-right: 10px;

      label {
        font-weight: normal;
      }

      .form-checkbox,
      .form-radio {
        margin: 0 2px 0 0;
      }
    }

    .group-search-member {
      margin: 15px 0 25px;
      @include clearfix;

      label.group-search-member-title {
        font-weight: bold;
        display: block;
      }

      div,
      label {
        display: inline;
      }

      label {
        padding: 0;
        font-weight: normal;
      }

      #edit-member {
        width: 150px;
        margin-left: 2px;
        background-position: right 4px;
      }

      .form-type-radio {
        margin-right: 0;
      }

      .form-radio {
        margin: 0 0 0 3px;
      }
    }

    #search-buttons {
      .clear-button {
        margin-right: 5px;
      }
    }
  }

  table {
    .groups-column-group {
      text-align: center;
      width: 100px;

      .group-link {
        a {
          @include group-link;
          width: 100px;
          margin: 0px;
        }
      }
    }

    .group-type,
    .group-member-count {
      color: $grey3;
    }

    .group-description {
      color: $grey3;
      font-size: 11px;
    }

    th {
      white-space: nowrap;
    }
  }

  #edit-update {
    float: right;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Group edit form
form#group-node-form {
  .form-item-title {
    margin-top: 0;
  }
}
