////////////////////////////////////////////////////////////////////////
// User registration and profile forms

////////////////////////////////////////////////////////////////////////
// Profile form:
#user-profile-form {
  fieldset {
    legend {
      color: black;
      top: -5px;
    }

    // Hide the appearance of nested fieldsets:
    fieldset {
      border: 0;
      padding: 0;
      margin: 0;

      .fieldset-wrapper {
        border: 0;
        padding: 0;
        margin: 0;
      }

      legend {
        display: none;
      }
    }
  }

  .form-item-field-user-location-und-0-country {
    margin-top: 0;
  }

  fieldset.field-group-fieldset {
    legend {
      color: black;
      top: -5px;
    }

    // Main field groups:
    .fieldset-wrapper {

      // Hide the appearance of nested fieldsets:
      fieldset {

        legend {
          display: none;
        }
      }
    }
  }

  #edit-field-user-location {
    .location .form-item input {
      margin-bottom: 0;
    }

    .form-item-timezone {
      margin-bottom: 0;
    }
  }
}

////////////////////////////////////////////////////////////////////////
// Register form:
#user-register-form {
  #site-rules {
    h3 {
      margin: 10px 0 5px;
    }

    p {
      margin: 10px 0;
    }

    ul {
      margin: 10px 0 0 20px;
    }
  }

  .form-item-rules-cb {
    margin: 10px 0 15px;
  }
}

////////////////////////////////////////////////////////////////////////
// Both register and profile forms:
#user-register-form,
#user-profile-form {
  @include form-with-fieldsets;

  // Fieldsets:
  #edit-account {
    margin-top: 0;

    .form-item-name {
      margin-top: 0;
    }

    .form-item-status {
      margin-bottom: 0;
    }

    #edit-current-pass,
    #edit-pass-pass1,
    #edit-pass-pass2 {
      width: 110px;
      margin-bottom: 0;
    }

    .form-item-pass-pass2 {
      margin-bottom: 3px;
    }

    .form-type-password-confirm {
      .form-type-password {
        width: 278px;
      }
    }

    .password-strength,
    div.password-confirm {
      width: 160px;
    }

    .password-strength {
      margin-top: 22px;
    }

    div.password-confirm {
      margin-top: 25px;
    }

    .password-suggestions {
      width: 268px;
      padding: 4px;
      margin-bottom: 0;

      ul {
        margin-left: 20px;
      }
    }
  }

  #user_user_form_group_personal {
    #edit-picture {
      margin-bottom: 0;

      .form-item-files-picture-upload {
        margin: 0;

        label {
          display: none;
        }
      }

      .user-picture {
        float: left;
        margin-right: 10px;
      }

      legend {
        display: block;
        font-size: 12px;
        top: 0;
        padding: 3px 0;
      }

      .form-item-picture-delete {
        margin-top: 0;
      }
    }

    .field-type-datetime {
      .form-type-date-popup {
        margin: 0;
      }

      .form-item-field-date-of-birth-und-0-value-date {
        .description {
          padding-bottom: 0;
        }
      }
    }
  }

  #edit-field-user-location {
    .location .form-item input {
      margin-bottom: 0;
    }

    .form-item-timezone {
      margin-bottom: 0;
    }
  }

  #edit-links {
    .form-item-field-website-und-0-url {
      margin-top: 0;
    }

    .form-item-field-wikipedia-link-und-0-url {
      margin-bottom: 0;
    }
  }

  #user_user_form_group_preferences {
    margin-bottom: 10px;

    .form-item {
      margin-top: 0;
    }

    .form-item-field-background-color-und-0-rgb {
      margin-bottom: 0;
    }
  }

  .description {
    margin-left: 0;
  }

  .location .form-item input,
  #edit-field-user-location-und-0-country,
  #edit-field-user-location-und-0-province-selector,
  #edit-timezone--2 {
    width: 278px;
  }

  #edit-field-mobile-phone-und-0-value {
    width: 150px;
  }

  #edit-actions {
    margin-top: 0;
  }

  #edit-field-moon-or-mars {
    width: 276px;

    .form-item-field-moon-or-mars-und {
      margin: 0;
    }

    #edit-field-moon-or-mars-und {
      height: 104px;
      margin: 0;

      div.form-item {
        float: left;
        width: 88px;
        margin: 0 2px;

        &:last-child {
          margin-right: 0;
        }

        label {
          display: block;
          width: 80px;
          height: 15px;
          padding: 84px 4px 4px;
          margin: 0;
          background-repeat: no-repeat;
          background-position: 4px 4px;
          text-align: center;
          background-color: $grey4;
          border: solid 1px $grey4;
          @include border-radius(4px);

          &.selected {
            border-color: $blue3;
            background-color: $blue3;
            color: white;
          }

          &:hover {
            border-color: $red3;
            background-color: $red3;
            color: white;
          }
        }

        input {
          display: none;
        }
      }
    }
  }

  // Fieldsets:
  #edit-account {
    margin-top: 0;

    .form-item-name {
      margin-top: 0;
    }

    .form-item-status {
      margin-bottom: 0;
    }

    #edit-current-pass,
    #edit-pass-pass1,
    #edit-pass-pass2 {
      width: 110px;
      margin-bottom: 0;
    }

    .form-item-pass-pass2 {
      margin-bottom: 3px;
    }

    .form-type-password-confirm {
      .form-type-password {
        width: 278px;
      }
    }

    .password-strength,
    div.password-confirm {
      width: 160px;
    }

    .password-strength {
      margin-top: 22px;
    }

    div.password-confirm {
      margin-top: 25px;
    }

    .password-suggestions {
      width: 268px;
      padding: 4px;
      margin-bottom: 0;

      ul {
        margin-left: 20px;
      }
    }
  }

  #edit-links {
    .form-item-field-website-und-0-url {
      margin-top: 0;
    }

    .form-item-field-wikipedia-link-und-0-url {
      margin-bottom: 0;
    }
  }

  #user_user_form_group_preferences {
    .form-item {
      margin-top: 0;
    }

    .form-item-field-background-color-und-0-rgb {
      margin-bottom: 0;
    }
  }

  .description {
    margin-left: 0;
  }

  #edit-name-wrapper {
    height: 24px;

    input {
      float: left;
    }

    div {
      height: 24px;
      line-height: 24px;
      margin-left: 5px;
      float: left;
    }

    #username-check {
      color: $blue3;
      cursor: pointer;
    }

    #username-message {
      &.username-valid {
        color: $green3;
      }

      &.username-invalid {
        color: $red3;
      }
    }

    #username-waiting {
      height: 20px;
      width: 16px;
      background: url('../images/loading1.gif') no-repeat right 3px;
    }
  }

  .location .form-item input,
  #edit-field-user-location-und-0-country,
  #edit-field-user-location-und-0-province-selector,
  #edit-timezone--2 {
    width: 278px;
  }

  #edit-field-mobile-phone-und-0-value {
    width: 150px;
  }

  #edit-actions {
    margin-top: 0;
  }

  #edit-field-moon-or-mars {
    width: 276px;

    .form-item-field-moon-or-mars-und {
      margin: 0;
    }

    #edit-field-moon-or-mars-und {
      height: 104px;
      margin: 0;

      div.form-item {
        float: left;
        width: 88px;
        margin: 0 2px;

        &:last-child {
          margin-right: 0;
        }

        label {
          display: block;
          width: 80px;
          height: 15px;
          padding: 84px 4px 4px;
          margin: 0;
          background-repeat: no-repeat;
          background-position: 4px 4px;
          text-align: center;
          background-color: $grey4;
          border: solid 1px $grey4;
          @include border-radius(4px);

          &.selected {
            border-color: $blue3;
            background-color: $blue3;
            color: white;
          }

          &:hover {
            border-color: $red3;
            background-color: $red3;
            color: white;
          }
        }

        input {
          display: none;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// User login form in sidebar
#user-login-form {
  input.form-text {
    width: 100%;
  }

  #edit-actions {
    margin-bottom: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Member blocks
@mixin member-grid-avatar {
  float: left;
  margin: 0 5px 5px 0;
}

.view-newest-users {
  .views-row {
    @include member-grid-avatar;
  }

  .view-footer {
    clear: both;
    display: none; // TEMPORARY - until /members page done
  }
}

ul.member-grid {
  list-style-type: none;
  margin: 3px 0;

  li {
    @include member-grid-avatar;
  }
}

#block-views-user-info-block {
  margin-top: 0;

  .views-field {
    margin: 10px 0;
  }

  .views-field-field-moon-or-mars {
    .field-content {
      color: $grey3;
      display: inline;
    }
  }

  .views-field-field-bio {
    color: $grey3;
  }

  .skype-links {
    height: 25px;

    a {
      display: block;
      height: 25px;
      width: 25px;
      float: left;
    }

    .skype-add {
      background-image: url('../social-icons/skype-add.png');
    }

    .skype-chat {
      background-image: url('../social-icons/skype-chat.png');
    }

    .skype-call {
      background-image: url('../social-icons/skype-call.png');
    }

  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Member menu
#member-edit-menu {
  margin: 10px 0;

  h4 {
    font-size: 12px;
    margin: 0;
    display: inline;
  }

  ul {
    margin: 0;
    list-style-type: none;
    display: inline;

    li {
      display: inline;

      a {
        padding: 0 2px;
        background-color: $grey5;
        @include border-radius(3px);

        &:hover {
          background-color: $red3;
          color: white;
        }
      }
    }
  }
}