
@import "compass/css3";
@import "vars";

nav.navigation {
  margin: 10px 0 5px;

  h2 {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
    display: block;

    li {
      padding: 0;
      margin-right: 5px;

      a {
        padding: 3px 6px;
        @include border-radius(3px);
        background-color: $blue3;
        color: white;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background-color: $red3;
        }
      }
    }
  }

  ul#secondary-menu {
    float: right;

    li:last-child {
      margin-right: 0;
    }
  }

  #nav-username {
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 5px;
  }

}

#region-sidebar-first,
#region-sidebar-second {
  .block {
    margin-top: 8px;

    ul.menu {
      list-style-type: none;

      li {
        list-style-type: none;
        list-style-image: none;
        margin: 0;
        padding: 0;

        a {
          background-color: $grey5;
          @include border-radius(3px);
          width: 100%;
          padding: 1px 0;
          margin: 1px 0;
          display: block;
          text-align: center;
          color: $blue3;
          font-weight: bold;
          font-size: 12px;

          &:hover {
            background-color: $red3;
            color: white;
          }
        }
      }
    }
  }

  #block-views-user-info-block,
  #block-views-group-info-block {
    margin-top: 0;
  }
}

#region-content {
  .tabs {
    margin-bottom: 10px;
  }
}
