
@import "compass/css3";
@import "vars";

nav.navigation {
  margin: 10px 0 5px;

  h2 {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
    display: block;

    li {
      padding: 0;
      margin-right: 5px;

      a {
        padding: 3px 10px;
        @include border-radius(3px);
        background-color: $blue3;
        color: white;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background-color: $red3;
        }
      }
    }
  }

  ul#secondary-menu {
    float: right;
  }

}

.block-menu {
  ul.menu {
    list-style-type: none;
    border-bottom: solid 1px $grey4;


    li {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;

      a {
        background-color: $grey5;
        @include border-radius(0);
        width: 162px;
        display: block;
        text-align: center;
        border-top: solid 1px $grey4;
        color: $blue3;
      }

      &:hover {
        background-color: $red3;
      }
    }

  }
}