
@import "compass/css3";
@import "vars";

nav.navigation {
  margin: 10px 0 5px;

  h2 {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
    display: block;

    li {
      padding: 0;
      margin-right: 5px;

      a {
        padding: 3px 6px;
        @include border-radius(3px);
        background-color: $blue3;
        color: white;
        font-weight: bold;
        text-decoration: none;

        &:hover,
        &.active {
          background-color: $red3;
        }
      }
    }
  }

  ul#secondary-menu {
    float: right;

    li:last-child {
      margin-right: 0;
    }
  }

  #nav-username {
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 5px;
  }
}

#region-content {
  .tabs {
    display: none;
  }
}

// Height of the edit tabs:
$member-edit-tabs-height = 23px;

#member-edit-tabs {
  list-style: none;
  height: $member-edit-tabs-height - 1;
  padding: 0;
  margin: 0 0 20px;
  border: 0;
  border-bottom: solid 1px $grey4;

  li {
    height: $member-edit-tabs-height;
    padding: 0;
    margin: 0;
    border: 0;
    float: left;

    &:first-child {
      margin-left: 10px;
    }

    a {
      display: block;
      height: $member-edit-tabs-height - 2;
      line-height: $member-edit-tabs-height - 2;
      padding: 0 6px;
      margin: 0 2px;
      border: solid 1px $grey4;
      background-color: $grey5;
      @include border-radius(5px 5px 0 0);

      &:hover {
        background-color: $red3;
        border-color: $red3;
        color: white;
      }

      &.selected {
        background-color: white;
        border-color: $grey4;
        border-bottom-color: white;
        color: black;
      }
    }
  }
}
