
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Notifications buttons

// @todo refactor this into a more general-purpose buttons-bar
#notifications-form-buttons {
  margin-bottom: 20px;
  @include clearfix;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Notifications views

.region-content {
  .view-notifications {
    table {

      thead {
        display: none;
      }

      tr {
        td {
          border: 0;

          &.views-field-created {
            padding: 5px 5px 5px 0;
            color: $grey3;
          }

          &.views-field-field-notification-summary {
            padding: 5px 0;
          }

          p {
            margin: 0;
          }

          .notification-summary {
            color: $grey3;
          }

          .notification-teaser {
            margin-top: 3px;
          }
        }
      }
    }
  }
}

.region-sidebar-first {
  .view-notifications {

    .views-row {
      margin: 10px 0;
    }

    .views-field-created {
      font-size: 11px;
      color: $grey3;
    }

    .view-all-notifications {
      text-align: right;
    }

    p {
      margin: 0;
    }

    .notification-summary {
      font-size: 11px;
      color: $grey3;
    }

    .notification-teaser {
      margin-top: 3px;
      font-size: 11px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Notifications preferences form

form#moonmars-nxn-prefs-form {
  @include form-with-fieldsets;

  .form-type-radios {
    margin: 15px 0 5px;

    .form-radios {
      .form-type-radio {
        display: inline;
        margin-right: 10px;

        input.form-radio {
          margin-right: 2px;
        }
      }
    }
  }

  .form-type-checkboxes {
    margin: 0 0 0 20px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Nxn list

table#table-nxns {
  padding: 0;
  border: 0;
  margin: 0;

  tr {
    padding: 0;
    border: 0;
    margin: 0;
    border-bottom: solid 1px $grey5;

    td {
      padding: 5px;
      border: 0;
      margin: 0;

      &.nxn-created {
        color: $grey3;
        // This width is somewhat arbitrary value less than the minimum width of the datestamp.
        // In combination with the white-space setting below, it will cause the date column to have the min width
        // required to contain the date in one line.
        width: 100px;
        white-space: nowrap;
      }

      .nxn-summary {
      }

      .nxn-preview {
        color: $grey3;
        font-style: italic;
      }
    }
  }
}
