///////////////////////////////////////////////////////////////////////////////
// Header

.region-branding {
  height: 64px;

  .branding-data {
    float: right;
  }

  .block-2 {
    float: left;
  }
}

#page > header {
  background-image: url('../images/stars-coloured-1000x675.jpg');
  padding: 10px 0 0;
}

.logo-img {
  float: none;
  text-align: right;
  margin: 0;
}

///////////////////////////////////////////////////////////////////////////////
// Main

#section-content {
  padding-top: 10px;
}

.front {
  .region-content {
    .pane-block-3 {
      padding: 0 10px;
    }

    .panel-separator {
      padding-top: 20px;
      margin-top: 20px;
      border-top: solid 1px black;
    }

    .pane-channel {
      h2 {
        margin-bottom: 0;
      }
    }
  }
}

.node-book {
  ul, ol {
    margin-left: 10px;
  }

  .book-navigation {
    .menu {
      border: none;
      padding: 0 0 20px;
    }

    .page-links {
      padding: 5px;
    }
  }

  nav {
    padding: 5px;
    margin-bottom: 30px;

    ul.links.inline {
      margin-left: 0;

      li {
        padding: 0;
        margin: 0 15px 0 0;
      }
    }
  }
}
