///////////////////////////////////////////////////////////////////////////////
// Header

.region-branding {
  height: 64px;

  .branding-data {
    float: right;
  }

  .block-2 {
    float: left;
  }
}

#page > header {
  background-image: url('../images/stars-coloured-1000x675.jpg');
  padding: 10px 0 0;
}

.logo-img {
  float: none;
  text-align: right;
  margin: 0;
}

///////////////////////////////////////////////////////////////////////////////
// Main

#section-content {
  padding: 10px 0 30px;
}

.front {
  .region-content {
    .pane-block-3 {
      padding: 0 10px;
    }

    .panel-separator {
      padding-top: 20px;
      margin-top: 20px;
      border-top: solid 1px black;
    }

    .pane-channel {
      h2 {
        margin-bottom: 0;
      }
    }
  }
}

.node-book {

  .book-navigation {
    .menu {
      border: 0;
      padding: 0 0 20px;
    }

    .page-links {
      padding: 5px;
    }
  }

  nav {
    padding: 5px;
    margin-bottom: 30px;

    ul.links.inline {
      margin-left: 0;

      li {
        padding: 0;
        margin: 0 15px 0 0;
      }
    }
  }
}

/////////////////////
// Pages

.region-content {

  table {
    width: 100%;
    margin-bottom: 10px;

    tr {
      background-color: transparent !important;

      td {
        border: solid 1px $grey4;
        padding: 5px;
        vertical-align: top;
        margin: 0;

        &.views-field-title {
          font-size: 13px;
          font-weight: bold;
        }

        &.views-field-field-description {
          font-size: 11px;
          color: $grey3;
        }

        &.views-field-php {
          font-size: 12px;
          color: black;
        }
      }

      th {
        border: solid 1px $grey4;
        padding: 5px;
        vertical-align: top;
        margin: 0;
        font-weight: bold;
        font-size: 12px;
        background-color: $blue5;
      }
    }
  }
}

#block-system-main {
  ul, ol {
    margin-left: 20px;
  }
}
