///////////////////////////////////////////////////////////////////////////////
// Header

.region-branding {
  height: 64px;

  .branding-data {
    float: right;
  }

  .block-2 {
    float: left;
  }
}

#page > header {
  background-image: url('../images/stars-coloured-1000x675.jpg');
  padding: 10px 0 0;
}

.logo-img {
  float: none;
  text-align: right;
  margin: 0;
}

///////////////////////////////////////////////////////////////////////////////
// Main

#section-content {
  padding-top: 10px;
}

.front {
  .region-content {
    .pane-block-3 {
      padding: 0 10px;
    }

    .panel-separator {
      padding-top: 20px;
      margin-top: 20px;
      border-top: solid 1px black;
    }

    .pane-channel {
      h2 {
        margin-bottom: 0;
      }
    }
  }

}

