.rating-buttons {
	float: right;
	width: 85px;
	height: 16px;
	margin: 1px 0 0 5px;
}

a.rating-button {
	display: block;
	float: left;
	background-image: url('../images/rating-icons.png');
	background-color: $blue1;
	width: 16px;
	height: 16px;
	padding: 0;
	@include border-radius(3px);
	margin: 0 0 0 1px;

	&:hover {
		background-color: $red1;
	}

	&.rating-button-love {
		background-position: -64px top;
	}

	&.rating-button-like {
		background-position: -48px top;
	}

	&.rating-button-meh {
		background-position: -32px top;
	}

	&.rating-button-dislike {
		background-position: -16px top;
	}

	&.rating-button-warning {
		background-position: left top;
	}
}
