
////////////////////////////////////////////////////////////////////////
// Check star tag message.
// Forms:
//   - user register form
//   - member profile edit form
//   - group create/edit form
#star-tag-wrapper {
  height: 24px;

  input {
    float: left;
    width: 200px;
  }

  div {
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    float: left;
  }

  #star-tag-prefix {
    float: left;
    margin-left: 0;
    margin-right: 2px;
  }

  #star-tag-check {
    display: none;
    color: $blue3;
    cursor: pointer;
  }

  #star-tag-message {
    display: none;

    &.star-tag-valid {
      color: $green3;
    }

    &.star-tag-invalid {
      color: $red3;
    }
  }

  #star-tag-waiting {
    display: none;
    height: 20px;
    width: 16px;
    background: url('../images/loading1.gif') no-repeat right 3px;
  }
}



@mixin star-link {
  @include border-radius(3px);
  display: block;
  width: 100%;
  padding: 5px 0;
  background-color: $grey5;
  text-align: center;

  &:hover {
    background-color: $red3;
    color: white;
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Search form for groups, members and topics.
form#moonmars-members-search-form,
form#moonmars-groups-search-form,
form#moonmars-topics-search-form {
  @include form-with-fieldsets;

  fieldset {
    .fieldset-wrapper > .form-item > label {
      margin-bottom: 2px;
    }

    .description {
      padding-top: 2px;
    }

    .form-item-text {
      margin-top: 0;

      #edit-text {
        width: 278px;
        box-sizing: border-box;
      }
    }

    .form-type-checkbox,
    .form-type-radio {
      //display: inline;
      margin-right: 10px;

      label {
        font-weight: normal;
      }

      .form-checkbox,
      .form-radio {
        margin: 0 2px 0 0;
      }
    }

    .group-search-member,
    .member-search-follower,
    .member-search-followee,
    .member-search-group {
      margin: 15px 0 25px;
      @include clearfix;

      label.member-search {
        font-weight: bold;
        display: block;
      }

      div,
      label {
        display: inline;
      }

      label {
        padding: 0;
        font-weight: normal;
      }

      #edit-member,
      #edit-follower,
      #edit-followee,
      #edit-group {
        width: 150px;
        margin-left: 2px;
        background-position: right 4px;
      }

      #edit-group {
        width: 170px;
      }

      .form-radios {
        .form-type-radio {
          margin-right: 0;

          .form-radio {
            margin: 0 0 0 3px;
          }
        }
      }
    }

    #search-buttons {
      .clear-button {
        margin-right: 5px;
      }
    }
  }

  table {
    .search-col-star {
      text-align: center;
      width: 100px;

      .star-link {
        a {
          @include star-link;
          width: 100px;
          margin: 0px;
        }
      }
    }

    .search-col-desc {
      .group-type,
      .group-member-count {
        color: $grey3;
      }

      .star-desc {
        color: $grey3;
        font-size: 11px;
      }
    }

    .search-col-follower {


    }

    th {
      white-space: nowrap;
    }
  }

  #edit-update {
    float: right;
  }
}
