
////////////////////////////////////////////////////////////////////////
// Check star tag message.
// Forms:
//   - user register form
//   - member profile edit form
//   - group create/edit form
#star-tag-wrapper {
  height: 24px;

  input {
    float: left;
    width: 200px;
  }

  div {
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    float: left;
  }

  #star-tag-prefix {
    float: left;
    margin-left: 0;
    margin-right: 2px;
  }

  #star-tag-check {
    display: none;
    color: $blue3;
    cursor: pointer;
  }

  #star-tag-message {
    display: none;

    &.star-tag-valid {
      color: $green3;
    }

    &.star-tag-invalid {
      color: $red3;
    }
  }

  #star-tag-waiting {
    display: none;
    height: 20px;
    width: 16px;
    background: url('../images/loading1.gif') no-repeat right 3px;
  }
}
