
.avatar-tooltip {
	position: relative;

	&:hover {
		cursor: pointer;
	}
}

.user-tooltip {
	display: none;
	color: black;
	background-color: white;
	@include border-radius(3px);
	padding: 5px;
	position: absolute;
	white-space: nowrap;
	float: left;
	z-index: 10;
	@include box-shadow2(1px, 1px, 2px, 1px, #999);
	font-size: 11px;
	line-height: 11px * 1.5;
	border: solid 2px $red1;
	top: -7px;
	left: -7px;

	.avatar-icon {
		margin: 0;
		padding: 0;
		float: left;
	}

	.user-tooltip-text {
		margin: 0 0 0 45px;
		padding: 0;
	}
}
