@import "vars";

.views-exposed-form {
  .views-exposed-widgets {
    margin: 10px 0;

    .views-exposed-widget {
      padding: 0 7px 0 0;

      label {
        display: block;
        height: 20px;
        line-height: 20px;
      }

      .form-submit {
        margin-top: 20px;
      }
    }
  }
}

.view-members,
.view-groups {

  #views-exposed-form-groups-page {
    .views-exposed-widgets {
      margin: 0;

      input,
      select {
        box-sizing: border-box;
        height: 24px;
      }

      #edit-title,
      #edit-field-group-type-value {
        width: 130px;
      }

      .views-exposed-widget {
        padding-right: 5px;
      }

      label {
        line-height: 12px;
        height: 12px;
        margin-bottom: 3px;
      }

      #edit-submit-groups {
        margin-top: 15px;
      }

    }
  }
}

.region-content {
  .view-notifications {
    table {

      thead {
        display: none;
      }

      tr {
        td {
          border: none;

          &.views-field-created {
            padding: 5px 5px 5px 0;
            color: $grey3;
          }

          &.views-field-field-notification-summary {
            padding: 5px 0;
          }

          p {
            margin: 0;
          }

          .notification-summary {
            color: $grey3;
          }

          .notification-teaser {
            margin-top: 3px;
          }
        }
      }
    }
  }
}

.region-sidebar-first {
  .view-notifications {

    .views-row {
      margin: 10px 0;
    }

    .views-field-created {
      font-size: 11px;
      color: $grey3;
    }

    .view-all-notifications {
      text-align: right;
    }

    p {
      margin: 0;
    }

    .notification-summary {
      font-size: 11px;
      color: $grey3;
    }

    .notification-teaser {
      margin-top: 3px;
      font-size: 11px;
    }
  }
}

.view-leaderboard {
  .views-row {
    @include clearfix;
    margin-bottom: 1px;
    padding: 1px 3px;
    @include border-radius(3px);
  }

  .views-row-odd {
    background-color: $blue5;
  }

  .views-row-even {
    background-color: $red5;
  }

  .views-field-name {
    float: left;
  }

  .views-field-field-score {
    float: right;
  }
}
