@import "vars";

.views-exposed-form {
  .views-exposed-widgets {
    margin: 10px 0;

    .views-exposed-widget {
      padding: 0 7px 0 0;

      label {
        display: block;
        height: 20px;
        line-height: 20px;
      }

      .form-submit {
        margin-top: 20px;
      }
    }
  }
}

.view-members,
.view-groups {

  #views-exposed-form-groups-page {
    .views-exposed-widgets {
      margin: 0;

      #edit-title-wrapper {
        padding-right: 2px;

        label {
          line-height: 12px;
          height: 12px;
          margin-bottom: 3px;
        }
      }

      #edit-submit-groups {
        margin-top: 15px;
      }

      #edit-title,
      #edit-submit-groups {
        box-sizing: border-box;
        height: 24px;
      }
    }
  }
}

.view-notifications {
  table {

    thead {
      display: none;
    }

    tr {
      td {
        border: none;

        &.views-field-created {
          padding: 5px 5px 5px 0;
        }

        &.views-field-field-notification-summary {
          padding: 5px 0;
        }

        p {
          margin: 0;
        }

        .notification-teaser {
          color: $grey3;
        }
      }
    }
  }
}

.region-sidebar-first {
  .view-notifications {

    .views-row {
      margin: 10px 0;
    }

    .views-field-created {
      font-size: 11px;
      color: $grey3;
    }

    .view-all-notifications {
      text-align: right;
    }
  }
}
