@import "vars";

.views-exposed-form {
  .views-exposed-widgets {
    margin: 10px 0;

    .views-exposed-widget {
      padding: 0 7px 0 0;

      label {
        display: block;
        height: 20px;
        line-height: 20px;
      }

      .form-submit {
        margin-top: 20px;
      }
    }
  }
}

.view-members,
.view-groups {
  #views-exposed-form-groups-page {
    .views-exposed-widgets {
      margin: 0;

      input,
      select {
        box-sizing: border-box;
        height: 24px;
      }

      #edit-title,
      #edit-field-group-type-value {
        width: 130px;
      }

      .views-exposed-widget {
        padding-right: 5px;
      }

      label {
        line-height: 12px;
        height: 12px;
        margin-bottom: 3px;
      }

      #edit-submit-groups {
        margin-top: 15px;
      }
    }
  }
}

.view-leaderboard {
  .views-row {
    @include clearfix;
    margin-bottom: 1px;
    padding: 1px 3px;
    @include border-radius(3px);
  }

  .views-row-odd {
    background-color: $blue5;
  }

  .views-row-even {
    background-color: $red5;
  }

  .views-field-name {
    float: left;
  }

  .views-field-field-score {
    float: right;
  }
}
