@import "vars";

.views-exposed-form {
  .views-exposed-widgets {
    margin: 10px 0;

    .views-exposed-widget {
      padding: 0 7px 0 0;

      label {
        display: block;
        height: 20px;
        line-height: 20px;
      }

      .form-submit {
        margin-top: 20px;
      }
    }
  }
}

.view-members,
.view-groups {

  #views-exposed-form-groups-page {
    .views-exposed-widgets {
      margin: 0;

      #edit-title-wrapper {
        padding-right: 2px;

        label {
          line-height: 12px;
          height: 12px;
          margin-bottom: 3px;
        }
      }

      #edit-submit-groups {
        margin-top: 15px;
      }

      #edit-title,
      #edit-submit-groups {
        box-sizing: border-box;
        height: 24px;
      }

    }
  }

  table {
    width: 100%;

    tr {
      background-color: transparent !important;

      td {
        border: solid 1px $grey4;
        padding: 10px;
        vertical-align: top;
        margin: 0;

        &.views-field-title {
          font-size: 13px;
          font-weight: bold;
        }

        &.views-field-field-description {
          font-size: 11px;
          color: $grey3;
        }

        &.views-field-php {
          font-size: 12px;
          color: black;
        }
      }

      th {
        border: solid 1px $grey4;
        padding: 10px;
        vertical-align: top;
        margin: 0;
        font-weight: bold;
        font-size: 12px;
        background-color: $blue5;
      }

    }

  }

}